<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NaMidia_Core.Properties.Settings.NaMidiaConnectionString"
      connectionString="Data Source=NOTRODRIGO\SQL2014;Initial Catalog=NaMidia;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NaMidia.Properties.Settings.NaMidiaConnectionString"
      connectionString="Data Source=NOTRODRIGO;Initial Catalog=NaMidia;User ID=sa;Password=r@dr1g@n@v@as"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>